[submodule "verif/tests/riscv-tests"]
	path = verif/tests/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "verif/tests/riscv-arch-test"]
	path = verif/tests/riscv-arch-test
	url = https://github.com/riscv/riscv-arch-test.git
[submodule "verif/tools/riscv-isa-sim"]
	path = verif/tools/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
